@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the vehicle lists */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a1a1a; 
}
::-webkit-scrollbar-thumb {
  background: #4b5563; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; 
}

body {
  background-color: #111; /* Deep dark background */
  color: white;
}